


<div class="row">
  <div class="col-xs-12">


    <div class="row row-cols-1 row-cols-md-1"  *ngFor="let r of reppp">
      <div class="col mb-12">
        <div class="card">
          <img src="{{r?.img}}"  style="height: 185px; width: 400px" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><strong>
             Prix :</strong>  {{r?.prix}} dinars</h5>
            <p class="card-text"><strong>  Description :</strong>  {{r?.description}}  </p>

          </div>
        </div>
      </div>

    </div>






  </div>
</div>
